---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";

import { getPosts } from "../../utils/getPosts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostSummaryList from "../../components/PostSummaryList.astro";

const posts = await getPosts({});
---

<BaseLayout title={SITE_TITLE} description={"Articles written by Chase Adams"}>
	<div class="pb-4">
		<h1 class="uppercase my-0">The Blog</h1>
		<span>Articles I've Written</span>
	</div>
	<section>
		<PostSummaryList posts={posts} />
	</section>
</BaseLayout>

<style></style>
