@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow-500: 52 99%, 65%;
    --blue-500: 248, 100% 52%;
    --magic-purple-50: 266, 22%, 96%;
    --magic-purple-100: 266, 100%, 85%;
    --magic-purple-200: 266, 100%, 75%;
    --magic-purple-300: 266, 100%, 65%;
    --magic-purple-400: 266, 100%, 55%;
    --magic-purple-500: 266, 100%, 50%;
    --magic-purple-600: 266, 100%, 45%;
    --magic-purple-700: 266, 100%, 35%;
    --magic-purple-800: 266, 100%, 25%;
    --magic-purple-900: 266, 100%, 13%;
    --magic-purple-950: 266, 100%, 8%;
    --white-50: 40 60% 99%;
    --white-100: 33, 50%, 87%;

    /* --white-100: 60 6% 88%; */
    /* --white-50: 238 100% 94%; */

    --tuna-50: 222 100% 97%;
    --tuna-100: 222 47% 93%;
    --tuna-200: 222 33% 85%;
    --tuna-300: 222 33% 79%;
    --tuna-400: 222 20% 74%;
    --tuna-500: 222 14% 66%;
    --tuna-600: 222 7% 61%;
    --tuna-700: 222 7% 55%;
    --tuna-800: 222 9% 47%;
    --tuna-900: 222 12% 39%;
    --tuna-950: 222 14% 20%;

    /* Magenta/Fuchsia Colors */
    --magenta-50: 305 100% 97%;
    --magenta-100: 302 100% 95%;
    --magenta-200: 302 100% 89%;
    --magenta-300: 304 100% 80%;
    --magenta-400: 305 100% 68%;
    --magenta-500: 302 100% 56%;
    --magenta-600: 299 100% 50%;
    --magenta-700: 300 100% 41%;
    --magenta-800: 301 67% 33%;
    --magenta-900: 302 90% 28%;
    --magenta-950: 301 100% 18%;
    --magenta-990: 300 97% 7%;

    --ultraviolet-50: 285 100% 98%;
    --ultraviolet-100: 279 100% 95%;
    --ultraviolet-950: 276 100% 23%;
    --ultraviolet-990: 276 100% 8%;

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --accent: var(--magic-purple-500);
    --accent-foreground: var(--white-50);
    --callout-background: var(--black);

    --muted: var(--black);
    --muted-foreground: var(--magenta-600);

    --border: var(--magic-purple-200);
    --input: var(--magic-purple-200);

    --destructive: 7 60% 48%;
    --destructive-foreground: 18 27% 90%;

    --info-foreground: 205 60% 48%;
    --danger-foreground: 7 60% 48%;
    --success-foreground: 151 60% 48%;
    --warning-foreground: 40 46% 36%;
    --tip-foreground: 266 60% 48%;

    --link-foreground: var(--magic-purple-500);

    --card-foreground: 330 40 10%;
    --card: 30 36% 95%;
    --radius: 0.5rem;
    --bg-from: var(--ultraviolet-990);
    --bg-to: var(--black);

    --background: var(--magic-purple-50);
    --foreground: var(--black);

    --primary: var(--ultraviolet-950);
    --primary-foreground: var(--blue-100);
  }

  .dark {
    --background: var(--magic-purple-950);
    --foreground: var(--magic-purple-50);
    --border: var(--magic-purple-800);
    --link-foreground: var(--magic-purple-300);
    --input: var(--magic-purple-500);
  }
}

@layer base {
  @font-face {
    font-family: "Overused Grotesk";
    src: url("/fonts/overused-grotesk/variable/OverusedGrotesk-VF.woff2")
        format("woff2 supports variations"),
      url("/fonts/overused-grotesk/variable/OverusedGrotesk-VF.woff2")
        format("woff2-variations")
        url("/fonts/overused-grotesk/variable/OverusedGrotesk-VF.ttf")
        format("truetype");
    font-weight: 100 200 300 400 500 600 700 800 900;
  }

  * {
    @apply border-border;
  }
  html {
    font-size: 16px;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Overused Grotesk", Helvetica, "Helvetica Neue", Arial,
      sans-serif;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .article ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  nav ul > li {
    @apply mt-0;
  }

  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }

  :not(pre) > code[class*="language-"] {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  pre[class*="language-"] {
    @apply text-sm mb-4 mt-6 overflow-x-auto max-w-full rounded-lg border border-ultraviolet-950 bg-ultraviolet-990 max-w-5xl;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  pre[class*="language-markdown"] code {
    white-space: break-spaces;
  }

  .article {
    /* @apply relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]; */
  }

  a {
    @apply transition-colors ease-in-out duration-300;
  }

  .article a[href^="https://"]:not(.button),
  .about-page a[href^="https://"]:not(.button)
  {
    @apply font-medium text-purple-500 hover:text-purple-700 dark:text-purple-200 dark:hover:text-purple-100;
  }

  .article a[href^="/"]:not([href^="//"]):not(.button),
  .about-page a[href^="/"]:not([href^="//"]):not(.button)
  {
    /* before:content-["[["] after:content-["]]"] */
    @apply font-medium text-purple-500 hover:text-purple-700 dark:text-purple-200 dark:hover:text-purple-100;
  }

  h2 {
    @apply font-bold mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-4 scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .page > p,
  .article > p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  li {
    @apply leading-7;
  }

  .article > blockquote > ul,
  .article > blockquote > ol {
    @apply my-0;
  }

  .article > blockquote > ol > li,
  .article > blockquote > ul > li {
    @apply my-0;
  }

  .article > table {
    @apply w-full;
  }

  .article > table tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }

  .article > table th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .article > table td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .article img {
    @apply my-6;
  }
}

body {
  word-wrap: break-word;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

.global-footer {
  @apply bg-[right_1rem_bottom_1rem] bg-[length:120px] pb-[100px] p-4 bg-no-repeat md:p-0 md:bg-[1rem_1rem];
}
