@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 246 31% 4%;

    --white-100: 60 6% 88%;
    --white-50: 238 100% 94%;

    --tuna-50: 222 100% 97%;
    --tuna-100: 222 47% 93%;
    --tuna-200: 222 33% 85%;
    --tuna-300: 222 33% 79%;
    --tuna-400: 222 20% 74%;
    --tuna-500: 222 14% 66%;
    --tuna-600: 222 7% 61%;
    --tuna-700: 222 7% 55%;
    --tuna-800: 222 9% 47%;
    --tuna-900: 222 12% 39%;
    --tuna-950: 222 14% 20%;

    /* Magenta/Fuchsia Colors */
    --magenta-50: 300 100% 99%;
    --magenta-100: 300 100% 98%;
    --magenta-200: 300 100% 97%;
    --magenta-300: 300 100% 92%;
    --magenta-400: 300 100% 93%;
    --magenta-500: 299 100% 50%;
    --magenta-600: 300 100% 71%;
    --magenta-700: 300 100% 59%;
    --magenta-800: 300 67% 46%;
    --magenta-900: 300 57% 38%;
    --magenta-950: 300 71% 19%;
    --magenta-990: 300 97% 7%;

    /* Blue Colors */
    --blue-50: 225 100% 97%;
    --blue-100: 225 100% 90%;
    --blue-200: 225 100% 82%;
    --blue-300: 225 70% 71%;
    --blue-400: 225 70% 64%;
    --blue-500: 225 80% 56%;
    --blue-600: 225 90% 43%;
    --blue-700: 225 100% 31%;
    --blue-800: 225 100% 25%;
    --blue-900: 225 90% 30%;
    --blue-950: 225 100% 19%;
    --blue-990: 225 87% 5%;

    --ultraviolet-50: 285 100% 98%;
    --ultraviolet-100: 279 100% 95%;
    --ultraviolet-950: 276 100% 23%;
    --ultraviolet-990: 276 100% 8%;

    --popover: 30 10% 95%;
    --popover-foreground: 222.2 84% 4.9%;

    --accent: var(--magenta-500);
    --accent-foreground: var(--magenta-50);
    --callout-background: var(--black);

    --muted: var(--black);
    --muted-foreground: var(--magenta-600);

    --border: var(--tuna-950);
    --input: var(--magenta-900);

    --destructive: 7 60% 48%;
    --destructive-foreground: 18 27% 90%;

    --info-foreground: 205 60% 48%;
    --danger-foreground: 7 60% 48%;
    --success-foreground: 151 60% 48%;
    --warning-foreground: 40 46% 36%;
    --tip-foreground: 266 60% 48%;

    --link-foreground: var(--blue-400);

    --card-foreground: 330 40 10%;
    --card: 30 36% 95%;
    --radius: 0.5rem;
    --bg-from: var(--ultraviolet-990);
    --bg-to: var(--black);

    --primary: var(--ultraviolet-950);
    --primary-foreground: var(--blue-100);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-fixed bg-gradient-to-b from-bg-from to-bg-to text-primary-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .article ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  nav ul > li {
    @apply mt-0;
  }

  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }

  :not(pre) > code[class*="language-"] {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  pre[class*="language-"] {
    @apply mb-4 mt-6 overflow-x-auto max-w-full rounded-lg border bg-slate-950 py-4 dark:bg-slate-900 max-w-5xl;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  pre[class*="language-markdown"] code {
    white-space: break-spaces;
  }

  .article {
    /* @apply relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]; */
  }

  a {
    @apply transition-colors ease-in-out duration-300;
  }

  .article a[href^="/"]:not([href^="//"]),
  .page a[href^="/"]:not([href^="//"])
  {
    @apply font-medium text-link-foreground hover:text-magenta-500 before:content-["[["] after:content-["]]"];
  }

  h2 {
    @apply mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-4 scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .page > p,
  .article > p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  li {
    @apply leading-7;
  }

  .article > blockquote > ul,
  .article > blockquote > ol {
    @apply my-0;
  }

  .article > blockquote > ol > li,
  .article > blockquote > ul > li {
    @apply my-0;
  }

  .article > table {
    @apply w-full;
  }

  .article > table tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }

  .article > table th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .article > table td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .article img {
    @apply my-6;
  }
}

body {
  word-wrap: break-word;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

.global-footer {
  @apply bg-[right_1rem_bottom_1rem] bg-[length:120px] pb-[100px] p-4 bg-no-repeat md:p-0 md:bg-[1rem_1rem];
}
