@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .vibes-light {
    --background: 30 10% 95%;
    --foreground: 330 12% 6%;

    --accent: 30 36% 90%;
    --accent-foreground: 330 12% 6%;

    --muted: 30 36% 90%;
    --muted-foreground: 330 12% 6%;

    --border: 30 36% 82%;
    --input: 30 36% 82%;

    --primary: 205 60% 48%;
    --primary-foreground: 30 36% 90%;
    --destructive: 7 60% 48%;
    --destructive-foreground: 18 27% 90%;

    --info-foreground: 205 60% 48%;
    --danger-foreground: 7 60% 48%;
    --success-foreground: 151 60% 48%;
    --warning-foreground: 40 46% 36%;
    --tip-foreground: 266 60% 48%;

    --card-foreground: 330 40 10%;
    --card: 30 36% 95%;
  }

  .vibes-dark {
    --background: 330 12% 6%;
    --foreground: 18 27% 90%;

    --muted: 330 40% 10%;
    --muted-foreground: 18 27% 90%;

    --accent-foreground: 330 12% 6%;
    --accent: 30 36% 90%;

    --border: 330 25% 17%;

    --primary: 205 89% 64%;
    --primary-foreground: 330 40% 10%;
    --destructive-foreground: 18 27% 90%;

    --info-foreground: 205 89% 64%;
    --danger-foreground: 7 89% 64%;
    --success-foreground: 151 89% 64%;
    --warning-foreground: 40 89% 64%;
    --tip-foreground: 266 89% 74%;

    --card: 330 40 10%;
    --card-foreground: 18 27% 90%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  nav ul > li {
    @apply mt-0;
  }

  /*

    .summary-box {
    background: repeating-linear-gradient(
      -45deg,
      #f00,
      #f00 2px,
      #fff,
      #fff 4px
    );
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 1rem 0;
  }

  .summary-box__content {
    @apply bg-slate-100 dark:bg-slate-900 p-4 border-[2px] border-slate-200 dark:border-slate-800;
  }

  
Usage:
  <div className="summary-box">
        <div className="summary-box__content">{article.description}c</div>
      </div>
  */

  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }

  :not(pre) > code[class*="language-"] {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  pre[class*="language-"] {
    @apply mb-4 mt-6 overflow-x-auto max-w-full rounded-lg border bg-slate-950 py-4 dark:bg-slate-900 max-w-5xl;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  pre[class*="language-markdown"] code {
    white-space: break-spaces;
  }

  .article {
    /* @apply relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]; */
  }

  .article a,
  .page a {
    @apply font-medium underline underline-offset-4 text-primary;
  }

  h2 {
    @apply mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-4 scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .lead {
    @apply text-xl text-muted-foreground;
  }

  .article > p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  li {
    @apply leading-7;
  }

  blockquote {
    @apply bg-muted relative w-full rounded-lg px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-7 text-foreground my-6;
  }

  .article > table {
    @apply w-full;
  }

  .article > table tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }

  .article > table th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .article > table td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }
}

body {
  word-wrap: break-word;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

.global-footer {
  background: url("/assets/squirrel_1.png") no-repeat;
  background-size: 10%;
  background-position: 1rem 1rem;
  padding-left: 140px;
}
