@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "BN Tillsdale";
  src: url("/fonts/BNTillsdale/BNTillsdale.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BN Tillsdale";
  src: url("/fonts/BNTillsdale/BNTillsdale-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BN Tillsdale";
  src: url("/fonts/BNTillsdale/BNTillsdale-Light.otf") format("otf");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Palmer Lake";
  src: url("/fonts/PalmerLake/PalmerLakePrint-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Palmer Lake";
  src: url("/fonts/PalmerLake/PalmerLakePrint-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Palmer Lake";
  src: url("/fonts/PalmerLake/PalmerLakePrint-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  /* body a {
    @apply text-[#007aff];
  } */
  body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-800 dark:text-slate-300 text-sm;
  }
  a {
    @apply text-blue-600 dark:text-blue-400;
  }

  a:visited {
    @apply text-blue-700 dark:text-blue-300;
  }

  code {
    @apply py-[2px] px-[5px] bg-slate-200 dark:bg-slate-800 border-slate-300 dark:border-slate-700 border-solid border rounded-md;
  }

  blockquote {
    @apply text-slate-700 dark:text-slate-200;
  }

  h1 {
    @apply font-black;
  }

  b,
  strong {
    @apply font-bold;
  }

  .heading-wrapper {
    @apply pt-4;
  }

  .prose-xl li {
    @apply my-0;
  }

  .prose-xl :where(p):not(:where([class~="not-prose"] *)),
  .prose-xl :where(ul):not(:where([class~="not-prose"] *)) {
    @apply mt-0 !important;
  }

  pre[class*="language-"],
  code[class*="language-"] {
    @apply bg-slate-900;
  }

  pre[class*="language-"]::before {
    @apply border-slate-800 border-b-2;
  }
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  margin: auto;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6rem;
}

nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

img,
iframe {
  width: 100%;
}

.iframe-wrapper {
  padding-bottom: 1rem;
}

.article {
  @apply w-full lg:w-8/12;
}

.article pre {
  margin-bottom: 1rem;
}

.article > * {
  @apply text-base leading-8;
}

.article > p {
  @apply mb-4;
}

.article > h2,
.article > h3,
.article > h4,
.article > h5 {
  @apply mt-8 mb-6 border-b border-slate-300 text-lg uppercase font-bold leading-8 font-display;
}

.article > h2 {
  @apply text-2xl;
}

.article > h3 {
  @apply text-xl;
}

.article > h4 {
  @apply text-lg;
}

.article > h5 {
  @apply text-base;
}

.font-subtitle {
  @apply text-3xl;
  font-family: "Palmer Lake", sans-serif !important;
}
