---
import { social } from "../../consts";

const frequentSocial = social.filter(
	(s) => s.type === "frequent" || s.type === "often"
);
---

<p>I'm on almost all social media as <strong>@curiouslychase</strong></p>
<ul class="p-0 m-0 list-none flex flex-col pt-4 md:pt-0 md:flex-row gap-2">
	{
		frequentSocial.map((s) => (
			<li class="md:after:content-['/'] after:last-of-type:content-['']">
				<a class="hover:font-bold" href={`${s.link}`}>
					{s.network}
				</a>
			</li>
		))
	}
</ul>
