---
import FormattedDate from "../../components/FormattedDate.astro";
import { getPosts, getPostsCount } from "../../utils/getPosts";
import PostSummaryList from "../PostSummaryList.astro";

const posts = await getPosts({ limit: 6 });
---

<main class="mt-12 max-w-5xl mx-auto">
	<div class="pb-4">
		<h2 class="uppercase my-0 text-3xl font-display">What I'm Writing</h2>
	</div>
	<section>
		<PostSummaryList posts={posts} />

		<div class="mt-8">
			<a href="/posts/" class="text-md">See all {getPostsCount} posts</a>
		</div>
	</section>
</main>
