---
import { ShareLinkOnTwitter } from "../components/ShareOnTwitter";
import { SITE_TITLE } from "../consts";

import BaseLayout from "../layouts/BaseLayout.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout title={SITE_TITLE} description={"Articles written by Chase Adams"}>
	<section>
		<div class="pb-4">
			<h1 class="font-display text-5xl uppercase my-0">
				42: The answer to life, the universe and everything.
			</h1>

			<p class="pt-4 font-subtitle">From "Hitchhiker's Guide to the Galaxy".</p>
		</div>
	</section>
</BaseLayout>
