---
const props = Astro.props;
---

<blockquote class={`p-4 mb-4 ${props.class} [&>p]:pb-0`} {...props}>
	{
		props.class?.includes("info") && (
			<div class="uppercase font-extrabold pb-2">Info</div>
		)
	}
	<slot />
</blockquote>
