---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="max-w-5xl mx-auto">
	<div class="flex flex-row items-center gap-4 pb-4">
		<img
			class="w-[36px] h-[36px] rounded-full inline-block mr-2]"
			src="/img/curious_chase.png"
			alt="Curious Chase"
			width="100"
			height="100"
		/>
		<h2 class="my-0 py-0 lowercase text-lg">
			{SITE_TITLE}
		</h2>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/posts">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://crca.news" target="_blank">Newsletter</HeaderLink>
		<ThemeSwitcher />
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0 !important;
		padding: 0 !important;
	}
</style>
