---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
	posts: Array<CollectionEntry<"posts">>;
};

const { posts } = Astro.props;
---

<ul class="p-0 m-0 flex flex-col list-none gap-4">
	{
		posts.map((post) => (
			<li class="flex flex-col md:flex-row">
				<span class="pr-4">
					<FormattedDate date={post.data.pubDate} />
				</span>
				<a href={`/posts/${post.slug}/`}>{post.data.title}</a>
			</li>
		))
	}
</ul>
